# General
.DS_Store
Thumbs.db

# Spring Tool Suite
.metadata/

# Visual Studio Code
.vscode/

# Maven
target/

# Compiled class file
*.class

# Log files
*.log

# Eclipse
.classpath
.project
.settings/
bin/
*.launch
*.iml
