@charset "UTF-8";

/* Reset default browser styles */
body {
  margin: 0;
  padding: 0;
  font-family: serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  background-color: #fff;
}
